<div class="" >
  <div class="jumbotron overlay p-xl-5">
    <h1 class="display-4 text-center">Credits</h1>
    <ol class="list-group">
      <li class="list-group-item text-center">Patient - Alison Butts</li>
      <li class="list-group-item text-center">Nurse - Kimberly Dion</li>
      <hr>
      <li class="list-group-item text-center">Written by Kimberly Dion</li>
      <li class="list-group-item text-center">Application design and programming by <a href="https://johnbugden.com/">John Bugden</a></li>
    </ol>
    <hr class="my-4" />
  </div>
</div>
