  <div>
    <div class="jumbotron overlay p-xl-5">
      <h1 class="display-4 text-center">Reflection Questions</h1>
      <ol class="list-group">
        <li class="list-group-item">How did you feel that the patient wasn’t ready to quit using drugs despite having an abscess that required hospitalization?</li>
        <li class="list-group-item">What other harm reduction education tips would you provide for the patient?</li>
        <li class="list-group-item">What stage of change does the patient appear to be in at this time? <br> How would you educate the patient if they were one stage prior? One stage later?</li>
        <li class="list-group-item">How would you respond to your colleague if they stated "When is bed 3 getting out of here? We don’t need any more addicts in here they are so time consuming to deal with and are just frequent fliers?" </li>
        <li class="list-group-item">What trauma informed principles would be used during this interaction?</li>

      </ol>
      <hr class="my-4" />
      <div class="mx-auto">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/credits">View Credits and Exit</button>
      </div>
    </div>
  </div>
