<div class="jumbotron overlay p-xl-5">
    <h1 class="display-4 text-center">{{overlayTitle}}</h1>
    <p class="lead">{{overlayText}}</p>
  <hr class="my-4">
  <div class="mx-auto" *ngIf="hasResponded; else notRetry">
    <app-scene-buttons [currentSceneId]="currentScene.sceneId" [canContinue]="correct"></app-scene-buttons>
  </div>
  <ng-template #notRetry>
      <h3 class="text-center">How do you respond?
        <hr style="width:50%;"/>
      </h3>
    <app-response-buttons class="response-buttons" [currentScene]="currentScene"></app-response-buttons>
  </ng-template>
</div>
